%h1 Admin Dashboard
%p this page will contain links to the data layer, as needed to test development/progress.

%ul
  %li
    = link_to('companies', '/companies')
    = " . count = "
    = @c_count

  %li
    =link_to('entities', '/entities')
    = " . count = "
    = @e_count

  %li
    =link_to('securities', '/securities')
    = " . count = "
    = @s_count

  %li
    =link_to('kinds', '/kinds')
    = " . count = "
    = @k_count

  %li
    =link_to('transactions', '/transactions')
    = " . count = "
    = @t_count

  %li
    =link_to('investments', '/investments')
    = " . count = "
    = @i_count

  %li
    =link_to('users', '/users')
    = " . count = "
    = @u_count

  %li
    =link_to('invitations', '/invitations')
    = " . count = "
    = @in_count
