- user = session[:user_id].to_i.u
- entities =[]
- (companies = user.companies) if user
- (entities = companies.map(&:entities).flatten.map(&:id)) if companies
- (entities += companies.map(&:alias_ids).flatten) if companies
- if (entities.include?(@entity.id))
  %center
    %p
      %b= "#{@entity.company.name} liquidity analysis: #{@entity.name}#{"(#{@entity.investment.company.name})" if (@entity.investment && (@entity.investment.company.name != @entity.name))}"
    %br
    - if (@entity.buys.count > 0)
      %table{:class => 'basic_table'}
        %tr
          %td
            %u priority*
          %td
            %u yours
          %td
            %u total
          %td
            %u cumulative
        - cum_tot = 0.0
        - @c_lc.ranks.each do |rank|
          %tr
            %td= link_to "#{rank}", '#', html_options = {:title => "#{@entity.company.priorities.securities(rank).map(&:s).map(&:name)}"}
            %td= number_to_currency (@e_lc.amount(:priority => @e_lc.priority(rank))), :precision =>0
            %td= number_to_currency (tot = @c_lc.amount(:rank => rank)), :precision =>0
            %td= number_to_currency (cum_tot += tot), :precision =>0
    %br
    %button{:id => "liq_chart"} chart
    %FORM
      %INPUT{:TYPE => "button", :VALUE => "Back", :onClick => "history.go(-1);return true;"}
    %p
      %i= "hover mouse pointer over priority value for corresponding securities names"
- else
  %center= "not authorized"
