- user = session[:user_id].to_i.u
- entities =[]
- (companies = user.companies) if user
- (entities = companies.map(&:entities).flatten.map(&:id)) if companies
- (entities += companies.map(&:alias_ids).flatten) if companies
- if (entities.include?(@entity.id))
  %center
    %p
      %b= "#{@entity.company.name} statement for: #{@entity.name}#{"(#{@entity.investment.company.name})" if (@entity.investment && (@entity.investment.company.name != @entity.name))}"
    %br
    - if (@entity.buys.count > 0)
      %b= "purchases:"
      %table{:class => 'basic_table'}
        %tr
          %td
            %u date
          %td
            %u seller
          %td
            %u shares
          %td
            %u dollars
          %td
            %u security
        - @entity.buys.each do |buy|
          %tr
            %td= buy.date
            %td= buy.seller.name
            %td= buy.shares ? buy.shares : ''
            %td= buy.dollars ? buy.dollars : ''
            %td= buy.security ? buy.security.name : ''
    %br
    - if (@entity.sales.count > 0)
      %b= "sales:"
      %table{:class => 'basic_table'}
        %tr
          %td 
            %u date
          %td
            %u seller
          %td
            %u shares
          %td
            %u dollars
          %td
            %u security
        - @entity.sales.each do |sale|
          %tr
            %td= sale.date
            %td= sale.seller.name
            %td= sale.shares ? sale.shares : ''
            %td= sale.dollars ? sale.dollars : ''
            %td= sale.security ? sale.security.name : ''
    %FORM
      %INPUT{:TYPE => "button", :VALUE => "Back", :onClick => "history.go(-1);return true;"}
      %INPUT{:TYPE => "button", :VALUE => "Liquidation", :onClick => "window.location.replace('/entities/liquidity?entity_id=#{@entity.id}');"} 
      %INPUT{:TYPE => "button", :VALUE => "Dilution", :onClick => "window.location.replace('/entities/percentage?entity_id=#{@entity.id}');"}
      - if @entity.company.liq_pref > 0.0
        %INPUT{:TYPE => "button", :VALUE => "Securities Payout Chart", :onClick => "window.location.replace('/companies/payout_chart?company_id=#{@entity.company.id}');"}
- else
  %center= "not authorized"
