- user = session[:user_id].to_i.u
- entities =[]
- (companies = user.companies) if user
- (entities = companies.map(&:entities).flatten.map(&:id)) if companies
- (entities += companies.map(&:alias_ids).flatten) if companies
- if (entities.include?(@entity.id))
  %center
    %p
      %b= "#{@entity.company.name} statement for: #{@entity.name}#{"(#{@entity.investment.company.name})" if (@entity.investment && (@entity.investment.company.name != @entity.name))}"
    %br
    - if (@entity.buys.count > 0)
      %b= "purchases:"
      %table
        %tr
          %td 
            %u date
          %td
            %u seller
          %td
            %u shares
          %td
            %u dollars
        - @entity.buys.each do |buy|
          %tr
            %td= buy.date
            %td= buy.seller.name
            %td= buy.shares ? buy.shares : ''
            %td= buy.dollars ? buy.dollars : ''
    %br
    - if (@entity.sales.count > 0)
      %b= "sales:"
      %table
        %tr
          %td 
            %u date
          %td
            %u seller
          %td
            %u shares
          %td
            %u dollars
        - @entity.sales.each do |buy|
          %tr
            %td= buy.date
            %td= buy.seller.name
            %td= buy.shares ? buy.shares : ''
            %td= buy.dollars ? buy.dollars : ''
    = link_to('company_list', '/companies') if companies.map(&:alias_ids).flatten.include?(@entity.id)
    = " . "
    = link_to("#{session[:company_id].to_i.c.name}", session[:company_id].to_i.c) if (session[:company_id] && companies.map(&:alias_ids).flatten.include?(@entity.id))
- else
  %center= "not authorized"
