<%= form_for(@possession) do |f| %>
  <% if @possession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@possession.errors.count, "error") %> prohibited this possession from being saved:</h2>

      <ul>
      <% @possession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :composite_id %><br />
    <%= collection_select(:possession, :composite_id, @securities, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :component_id %><br />
    <%= collection_select(:possession, :component_id, @securities, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :factor %><br />
    <%= f.text_field :factor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
