<center>
<table>
  <tr>
    <th>composite</th>
    <th>factor</th>
    <th>component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @possessions.each do |possession| %>
  <tr>
    <td><%= possession.composite_id.s.name %></td>
    <td><%= possession.factor %></td>
    <td><%= possession.component_id.s.name %></td>
    <td><%= link_to 'Show', possession %></td>
    <td><%= link_to 'Edit', edit_possession_path(possession) %></td>
    <td><%= link_to 'Destroy', possession, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Possession', new_possession_path %>
</center>