<br />
<center><b>your companies:</b></center>
<br />
<table align="center">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><b><%= company.name %></b></td>
    <td><%= link_to ' . show investments', "#", :class => "company_expand", 'data-id' => "\#company_list_hidden_#{company.id}" %></td>
    <td><%= link_to " . manage ownership", company %></td>
    <td><%= link_to ' . rename', edit_company_path(company) %></td>
    <td><%= link_to ' . delete', company, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <tbody class="company_list_hidden" id="company_list_hidden_<%= company.id %>">
	<% company.directs.each do |d| %>
	  <% entity_id = company.alias_id(d) %>
	  <% entity = entity_id.e %>
	  <tr><td></td><td colspan=4><%= "#{d.c.name}"%> 
	     <%= link_to("($#{entity.net_dollars} invested)", "/entities/#{entity_id}") %> 
	     <%= link_to("($#{entity.liq_pref} liq. pref.)", "/entities/liquidity?entity_id=#{entity_id}") %> 
	     <%= link_to("(#{number_to_percentage entity.fully_diluted, :precision => 2} fully diluted)", "#") %> 
	  </td></tr>
	<% end %>
	<tr><td></td><td colspan=4 class="newinvite"><%= link_to "(add ownership stake)", "invitations/new?company_id=#{company.id}" %></td><tr>
	<tr><td></td><td colspan=4><%= link_to("(show indirect investments)", "#", :class => "show_indirects", 'data-id' => "\#company_indirects_hidden_#{company.id}") if (company.indirects.count > 0) %></td><tr>
  </tbody>
  <tbody class="company_indirects_hidden" id="company_indirects_hidden_<%= company.id %>">
	<% company.indirects.each do |d| %>
      <tr><td></td><td colspan=4><%= "#{d.c.name}"%></td></tr>
	<% end %>
  </tbody>
<% end %>
</table>

<br />

<center><%= link_to 'Add New Company', new_company_path %></center>
