
%center
  %p{:id => "notice"}= notice

%table{:align => "center", :cellpadding => "3", :border => "0"}
  %tr
    %td{:colspan => 2, :align => 'center'}
      %b= "#{@company.name} "
    %td= link_to("rename", edit_company_path(@company))
    %td= link_to("delete", @company, :confirm => 'Are you sure?', :method => :delete)
%table{:align => "center", :cellpadding => "10"}
  %tr
    %td
      %table{:align => "center"}
        %tr
          %td{:colspan => 4}
            %b= "Entities List:"
        - @company.entities.reject{|i| i.name == @company.name}.each do |e|
          %tr
            %td
              %b= link_to(" #{e.name}", "/entities/#{e.id}")
            %td= link_to(" . invite", "/requests/new?entity_id=#{e.id}")  unless (e.investment || (e.name == @company.name))
            %td= link_to(' . edit', edit_entity_path(e))
            %td= link_to(' . delete', e, :confirm => 'Are you sure?', :method => :delete)
        %tr
          %td{:colspan => 4}= link_to("(add new investor)", "/entities/new")
    %td
      %table{:align => "center"}
        %tr
          %td{:colspan => 4}
            %b= "Securities List:"
        - @company.securities.each do |s|
          %tr
            %td
              %b= link_to("#{s.name}", s)
            %td= link_to(' . edit', edit_security_path(s))
            %td= link_to(' . delete', s, :confirm => 'Are you sure?', :method => :delete)
        %tr
          %td{:colspan => 4}= link_to("(add new security)", "/securities/new")
%table{:align => "center", :cellpadding => "5"}
  - if @company.liq_pref > 0.0
    %button{:id => "sec_payout_chart"} Securities Payout Chart
  %button{:id => "ent_captable"} CapTable by Entity
  %button{:id => "sec_captable"} CapTable by Security