
%p{:id => "notice"}= notice
      
%table
  %tr
    %td
      %b= "#{@company.name} investors:"
  - @company.entities.each do |e|
    %tr
      %td= link_to" #{e.name}", "/entities/#{e.id}"

%br
= link_to 'Back', companies_path
