
%center
  %p{:id => "notice"}= notice
      
%table{:align => "center"}
  %tr
    %td
      %b= "#{@company.name} investors:"
  - @company.entities.reject{|i| i.name == @company.name}.each do |e|
    %tr
      %td= " #{e.name}"
      %td= link_to("Invite", "/requests/new?entity_id=#{e.id}")  unless (e.investment || (e.name == @company.name))
      %td= link_to('Edit', edit_entity_path(e))
      %td= link_to('Destroy', e, :confirm => 'Are you sure?', :method => :delete)
  %tr
    %td= link_to("add new investor", "/entities/new")
%br
%table{:align => "center"}
  %tr
    %td
      %b= "#{@company.name} securities:"
  - @company.securities.each do |s|
    %tr
      %td= "#{s.name}"
      %td= link_to('Show', s)
      %td= link_to('Edit', edit_entity_path(s))
      %td= link_to('Destroy', s, :confirm => 'Are you sure?', :method => :delete)
  %tr
    %td= link_to("add new security", "/securities/new")
%br
%center
  %i
    %b= link_to("(go to #{@company.name}'s transactions)", transactions_path)
  %br
  %br
  = link_to 'Back to list of companies', companies_path
