
%center
  %p{:id => "notice"}= notice

%table{:align => "center", :cellpadding => "3", :border => "0"}
  %tr
    %td{:colspan => 2, :align => 'center'}
      %b= "#{@company.name} "
    %td= link_to("rename", edit_company_path(@company))
    %td= link_to("delete", @company, :confirm => 'Are you sure?', :method => :delete)
%table{:align => "center", :cellpadding => "10"}
  %tr
    %td
      %table{:align => "center"}
        %tr
          %td{:colspan => 4}
            %b= "Entities List:"
        - @company.entities.reject{|i| i.name == @company.name}.each do |e|
          %tr
            %td
              %b= link_to(" #{e.name}", "/entities/#{e.id}")
            %td= link_to(" . invite", "/requests/new?entity_id=#{e.id}")  unless (e.investment || (e.name == @company.name))
            %td= link_to(' . edit', edit_entity_path(e))
            %td= link_to(' . delete', e, :confirm => 'Are you sure?', :method => :delete)
        %tr
          %td{:colspan => 4}= link_to("(add new investor)", "/entities/new")
    %td
      %table{:align => "center"}
        %tr
          %td{:colspan => 4}
            %b= "Securities List:"
        - @company.securities.each do |s|
          %tr
            %td
              %b= link_to("#{s.name}", s)
            %td= link_to(' . edit', edit_security_path(s)) if (s.name != 'common')
            %td= link_to(' . delete', s, :confirm => 'Are you sure?', :method => :delete) if (s.name != 'common')
        %tr
          %td{:colspan => 4}= link_to("(add new security)", "/securities/new")
        %tr
          %td{:colspan => 4}= link_to("(combine securities)", "/possessions/new")
        %tr
          %td{:colspan => 4}= link_to("(index of combinations)", "/possessions")
%table{:align => "center", :cellpadding => "5"}
  - if @company.liq_pref > 0.0
    %center
      %button{:id => "liq_pref_sec", :onClick => "window.location.replace('/companies/liquidity?company_id=#{@company.id}');"} Liquidation Data
      %button{:id => "sec_payout_chart"} Participation Chart
  %center
    %button{:onclick => "window.location.replace('/companies/ent_captable');"} CapTable by Entity
    %button{:onclick => "window.location.replace('/companies/sec_captable');"} CapTable by Security