<%= form_for(@security) do |f| %>
  <% if @security.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@security.errors.count, "error") %> prohibited this security from being saved:</h2>

      <ul>
      <% @security.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select(:kind, options_for_select(@kinds)) %>
  </div>
  <div class="field_liq">
    <%= f.label :rank %> (0 to 100)<br />
    <%= f.text_field :rank %>
  </div>
  <div class="field_pref">
    <%= f.label :liquidation_preference %> (multiple)<br />
    <%= f.text_field :liq_pref %>
  </div>
  <div class="field_debt">
    <%= f.label :discount_factor %> (use decimal)<br />
    <%= f.text_field :disc_fact %>
  </div>
  <div class="field_cov">
    <%= f.label :warrant_coverage %> (use decimal)<br />
    <%= f.text_field :warrant_cov %>
  </div>
  <div class="field_pref">
    <%= f.label :participating? %><br />
    <%= f.check_box :participating %> (check if yes)
  </div>
  <div class="field_pref">
    <%= f.label :participation_cap %> (multiple)<br />
    <%= f.text_field :partic_cap %>
  </div>
  <div class="field_debt">
    <%= f.label :interest_rate %> (use decimal)<br />
    <%= f.text_field :int_rate %>
  </div>
  <div class="field_pref">
    <%= f.label :dividend_rate %> (use decimal)<br />
    <%= f.text_field :div_rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
