<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= collection_select(:transaction, :company, @companies, :id, :name, {}, 'data-url' => 'sec') %>
  </div>
  <div id="sec_div" class="field" style="display: none;">
    <%= f.label :security_id %><br />
    <%= f.select(:security_id, options_for_select([])) %>
  </div>
  <div class="field_trans">
    <%= f.label :seller_id %><br />
    <%= f.select(:seller_id, options_for_select([])) %>
  </div>
  <div class="field_trans">
    <%= f.label :buyer_id %><br />
    <%= f.select(:buyer_id, options_for_select([])) %>
  </div>
  <div class="field_equity">
    <%= f.label :shares %><br />
    <%= f.text_field :shares %>
  </div>
  <div class="field_money">
    <%= f.label :dollars %><br />
    <%= f.text_field :dollars %>
  </div>
  <div class="field_opt">
    <%= f.label :ex_price %><br />
    <%= f.text_field :ex_price %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

