<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <u><%= f.label "session: #{@company.name}" %></u><br />
  </div>
  <div id="field_trans_sec" class="field">
    <%= f.label :security_id %><br />
    <%= collection_select(:transaction, :security_id, @securities, :id, :name, {}, 'data-url' => 'sec') %>
  </div>
  <div id="field_trans_sel" class="field_trans">
    <%= f.label :seller_id %><br />
    <%= collection_select(:transaction, :seller_id, @sellers, :id, :name, {}, 'data-url' => 'sel') %>
  </div>
  <div id="field_trans_buy" class="field_trans">
    <%= f.label :buyer_id %><br />
    <%= f.select(:buyer_id, options_for_select(@entities.map{|i| [i.name, i.id.to_s]})) %>
  </div>
  <div class="field_trans_equity">
    <%= f.label :shares %><br />
    <%= f.text_field :shares %>
  </div>
  <div class="field_trans_money">
    <%= f.label :dollars %><br />
    <%= f.text_field :dollars %>
  </div>
  <div class="field_trans_opt">
    <%= f.label :ex_price %><br />
    <%= f.text_field :ex_price %>
  </div>
  <div class="field_trans">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions_trans">
    <%= f.submit %>
  </div>
<% end %>

