<br /><br />
<table align="center">
  <tr>
    <th>Company</th>
    <th>Security</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Shares</th>
    <th>Dollars</th>
    <th>Ex price</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.company.name %></td>
    <td><%= transaction.security_id.s.name %></td>
    <td><%= transaction.seller_id.e.name %></td>
    <td><%= transaction.buyer_id.e.name %></td>
    <td><%= transaction.shares %></td>
    <td><%= transaction.dollars %></td>
    <td><%= transaction.ex_price %></td>
    <td><%= transaction.date %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<center>
<%= link_to "manage #{session[:company_id].to_i.c.name}", session[:company_id].to_i.c %> . 
<%= link_to 'new transaction', new_transaction_path %>
</center>
