<br /><br />
<table>
  <tr>
    <th>Company</th>
    <th>Security</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Shares</th>
    <th>Dollars</th>
    <th>Ex price</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.company.id %></td>
    <td><%= transaction.security_id %></td>
    <td><%= transaction.seller_id %></td>
    <td><%= transaction.buyer_id %></td>
    <td><%= transaction.shares %></td>
    <td><%= transaction.dollars %></td>
    <td><%= transaction.ex_price %></td>
    <td><%= transaction.date %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
