<!DOCTYPE html>
<html>
<head>
  <title>Equity</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	session-company: <%= "#{session[:company_id] ? session[:company_id].to_i.c.name: ''}(#{session[:company_id].to_i})" %> .
	session-user: <%= "#{session[:user_id] ? session[:user_id].to_i.u.name: ''}(#{session[:user_id].to_i})" %> . 
	session-entity: <%= "#{session[:entity_id] ? session[:entity_id].to_i.e.name: ''}(#{session[:entity_id].to_i})" %>

<%= yield %>

</body>
</html>
